<header class="masthead bg-white text-white text-center container" style="padding-top: 7em;padding-bottom: 2em;">

    <div class="row justify-content-center d-block">
        <div class="container">
            <a href="/plate/calculator/add">
                <button type="button" class="btn btn-success btn-sm float-right mb-3">Add</button>
            </a>
        </div>
        {{#if article.breakfast}}
        <div class="table-responsive container">
            <table class="table table-striped table-sm">
                <caption style="font-size:12px">Breakfast</caption>
                <thead>
                    <tr class="table-info">
                        <th style="font-size:12px" scope="col">Qty</th>
                        <th style="font-size:12px" scope="col">Name</th>
                        <th style="font-size:12px" scope="col">Prot</th>
                        <th style="font-size:12px" scope="col">Kcal</th>
                        <th style="font-size:12px" scope="col">Fib</th>
                        <th style="font-size:12px" scope="col">Fat</th>
                        <th style="font-size:12px" scope="col">Carb</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each article.breakfast}}
                    <tr>
                        <td style="font-size:12px">{{this.qty}}gr</td>
                        <td style="font-size:12px">{{this.name}}</td>
                        <td style="font-size:12px">{{this.protein}}</td>
                        <td style="font-size:12px">{{this.kcal}}</td>
                        <td style="font-size:12px">{{this.fiber}}</td>
                        <td style="font-size:12px">{{this.fat}}</td>
                        <td style="font-size:12px">{{this.carbs}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if article.first_snack}}
        <div class="table-responsive container">
            <table class="table table-striped table-sm ">
                <caption style="font-size:12px">First snack</caption>
                <thead>
                    <tr class="table-info">
                        <th style="font-size:12px" scope="col">Qty</th>
                        <th style="font-size:12px" scope="col">Name</th>
                        <th style="font-size:12px" scope="col">Prot</th>
                        <th style="font-size:12px" scope="col">Kcal</th>
                        <th style="font-size:12px" scope="col">Fib</th>
                        <th style="font-size:12px" scope="col">Fat</th>
                        <th style="font-size:12px" scope="col">Carb</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each article.first_snack}}
                    <tr>
                        <td style="font-size:12px">{{this.qty}}gr</td>
                        <td style="font-size:12px">{{this.name}}</td>
                        <td style="font-size:12px">{{this.protein}}</td>
                        <td style="font-size:12px">{{this.kcal}}</td>
                        <td style="font-size:12px">{{this.fiber}}</td>
                        <td style="font-size:12px">{{this.fat}}</td>
                        <td style="font-size:12px">{{this.carbs}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if article.lunch}}
        <div class="table-responsive container">
            <table class="table table-striped table-sm ">
                <caption style="font-size:12px">Lunch</caption>
                <thead>
                    <tr class="table-info">
                        <th style="font-size:12px" scope="col">Qty</th>
                        <th style="font-size:12px" scope="col">Name</th>
                        <th style="font-size:12px" scope="col">Prot</th>
                        <th style="font-size:12px" scope="col">Kcal</th>
                        <th style="font-size:12px" scope="col">Fib</th>
                        <th style="font-size:12px" scope="col">Fat</th>
                        <th style="font-size:12px" scope="col">Carb</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each article.lunch}}
                    <tr>
                        <td style="font-size:12px">{{this.qty}}gr</td>
                        <td style="font-size:12px">{{this.name}}</td>
                        <td style="font-size:12px">{{this.protein}}</td>
                        <td style="font-size:12px">{{this.kcal}}</td>
                        <td style="font-size:12px">{{this.fiber}}</td>
                        <td style="font-size:12px">{{this.fat}}</td>
                        <td style="font-size:12px">{{this.carbs}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if article.second_snack}}
        <div class="table-responsive container">
            <table class="table table-striped table-sm ">
                <caption style="font-size:12px">Second snack</caption>
                <thead>
                    <tr class="table-info">
                        <th style="font-size:12px" scope="col">Qty</th>
                        <th style="font-size:12px" scope="col">Name</th>
                        <th style="font-size:12px" scope="col">Prot</th>
                        <th style="font-size:12px" scope="col">Kcal</th>
                        <th style="font-size:12px" scope="col">Fib</th>
                        <th style="font-size:12px" scope="col">Fat</th>
                        <th style="font-size:12px" scope="col">Carb</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each article.second_snack}}
                    <tr>
                        <td style="font-size:12px">{{this.qty}}gr</td>
                        <td style="font-size:12px">{{this.name}}</td>
                        <td style="font-size:12px">{{this.protein}}</td>
                        <td style="font-size:12px">{{this.kcal}}</td>
                        <td style="font-size:12px">{{this.fiber}}</td>
                        <td style="font-size:12px">{{this.fat}}</td>
                        <td style="font-size:12px">{{this.carbs}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if article.dinner}}
        <div class="table-responsive container">
            <table class="table table-striped table-sm ">
                <caption style="font-size:12px">Dinner</caption>
                <thead>
                    <tr class="table-info">
                        <th style="font-size:12px" scope="col">Qty</th>
                        <th style="font-size:12px" scope="col">Name</th>
                        <th style="font-size:12px" scope="col">Prot</th>
                        <th style="font-size:12px" scope="col">Kcal</th>
                        <th style="font-size:12px" scope="col">Fib</th>
                        <th style="font-size:12px" scope="col">Fat</th>
                        <th style="font-size:12px" scope="col">Carb</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each article.dinner}}
                    <tr>
                        <td style="font-size:12px">{{this.qty}}gr</td>
                        <td style="font-size:12px">{{this.name}}</td>
                        <td style="font-size:12px">{{this.protein}}</td>
                        <td style="font-size:12px">{{this.kcal}}</td>
                        <td style="font-size:12px">{{this.fiber}}</td>
                        <td style="font-size:12px">{{this.fat}}</td>
                        <td style="font-size:12px">{{this.carbs}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if article.extra}}
        <div class="table-responsive container">
            <table class="table table-striped table-sm ">
                <caption style="font-size:12px">Extra</caption>
                <thead>
                    <tr class="table-info">
                        <th style="font-size:12px" scope="col">Qty</th>
                        <th style="font-size:12px" scope="col">Name</th>
                        <th style="font-size:12px" scope="col">Prot</th>
                        <th style="font-size:12px" scope="col">Kcal</th>
                        <th style="font-size:12px" scope="col">Fib</th>
                        <th style="font-size:12px" scope="col">Fat</th>
                        <th style="font-size:12px" scope="col">Carb</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each article.extra}}
                    <tr>
                        <td style="font-size:12px">{{this.qty}}gr</td>
                        <td style="font-size:12px">{{this.name}}</td>
                        <td style="font-size:12px">{{this.protein}}</td>
                        <td style="font-size:12px">{{this.kcal}}</td>
                        <td style="font-size:12px">{{this.fiber}}</td>
                        <td style="font-size:12px">{{this.fat}}</td>
                        <td style="font-size:12px">{{this.carbs}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if article}}
        <div class="table-responsive container">
            <table class="table table-striped table-sm ">
                <caption style="font-size:12px">Total</caption>
                <thead>
                    <tr class="table-info">
                        <th style="font-size:12px" scope="col">Qty</th>
                        <th style="font-size:12px" scope="col">Prot</th>
                        <th style="font-size:12px" scope="col">Kcal</th>
                        <th style="font-size:12px" scope="col">Fib</th>
                        <th style="font-size:12px" scope="col">Fat</th>
                        <th style="font-size:12px" scope="col">Carb</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <th style="font-size:12px" scope="col">{{totalArticles.qty}}gr</th>
                        <th style="font-size:12px" scope="col">{{totalArticles.protein}}gr</th>
                        <th style="font-size:12px" scope="col">{{totalArticles.kcal}}</th>
                        <th style="font-size:12px" scope="col">{{totalArticles.fiber}}gr</th>
                        <th style="font-size:12px" scope="col">{{totalArticles.fat}}gr</th>
                        <th style="font-size:12px" scope="col">{{totalArticles.carbs}}gr</th>
                    </tr>
                </tbody>
            </table>
        </div>
        {{/if}}
    </div>
</header>