<header class="masthead bg-white text-white text-center container" style="padding-top: 7em;padding-bottom: 2em;">

        <div class="card text-center text-primary mb-2">
                <div class="card-body border-0 p-2">
                        <h3>Proteine</h3>

                        {{#each item.proteine}}
                        <img style="width:70px" src="{{this.icon}}" alt="{{this.name}}"
                                class="rounded-sm img-thumbnail mb-1">
                        {{/each}}
                </div>
        </div>
        <div class="card text-center text-primary mb-2">
                <div class="card-body border-0 p-2">
                        <H3>Legume</H3>
                        {{#each item.legume}}
                        <img style="width:70px" src="{{this.icon}}" alt="{{this.name}}"
                                class="rounded-sm img-thumbnail mb-1">
                        {{/each}}
                </div>
        </div>
        <div class="card text-center text-primary mb-2">
                <div class="card-body border-0 p-2">
                       <H3>Carbohidrati</H3>
                        {{#each item.carbohidrati}}
                        <img style="width:70px" src="{{this.icon}}" alt="{{this.name}}"
                                class="rounded-sm img-thumbnail mb-1">
                        {{/each}}
                </div>
        </div>
        <div class="card text-center text-primary mb-2">
                <div class="card-body border-0 p-2">
                        <H3>Grasimi Sanatoase</H3>
                        {{#each item.grasimi}}
                        <img style="width:70px" src="{{this.icon}}" alt="{{this.name}}"
                                class="rounded-sm img-thumbnail mb-1">
                        {{/each}}
                </div>
        </div>
</header>